<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>Hello World!</title>

    <!--Video upload & dropdown box-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      class="jsbin"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    ></script>

    <!--Modal-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <!--link to css / js -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <!-- Bootstrap Icon CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-app.js";

      import {
        getAuth,
        signInWithPopup,
        GoogleAuthProvider,
        signInWithRedirect,
      } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-auth.js";

      const firebaseConfig = {
        apiKey: "AIzaSyB_tOjzX6Em41dcetUBf1pqaOY4pU-E-kM",
        authDomain: "translate-fe564.firebaseapp.com",
        databaseURL: "https://translate-fe564-default-rtdb.firebaseio.com",
        projectId: "translate-fe564",
        storageBucket: "translate-fe564.appspot.com",
        messagingSenderId: "186396337537",
        appId: "1:186396337537:web:70525a799bc854c3933480",
        measurementId: "G-17XNH66CVV",
      };

      const app = initializeApp(firebaseConfig);

      const auth = getAuth(app);

      const provider = new GoogleAuthProvider();
      auth.onAuthStateChanged((user) => {
        if (user) {
          
          window.location = "dashboard_2";
          console.log(user); //After successful login, user will be redirected to home.html
        }
      });

      function signInWithGoogle() {
        signInWithRedirect(auth, provider);
      }
      document
        .querySelector("#btnsignIn")
        .addEventListener("click", signInWithGoogle);

      function loguser() {
        console.log(auth.currentUser);
      }

      document.querySelector("#btnLog").addEventListener("click", loguser);
    </script>
  </head>
  <body>
    <ul>
      <li><h1 href="" , id="logo">LOGO</h1></li>
      <li style="float: right">
        <button
          class="button"
          id="signin"
          ,
          onclick="document.getElementById('id01').style.display='block'"
        >
          <i class="bi bi-box-arrow-in-right"
            ><i class="no-italics"> Sign In </i></i
          >
        </button>
      </li>
    </ul>

    <!---Video upload --->
    <div class="file-upload">
      <form
        action="{% url 'job:upload' %}"
        enctype="multipart/form-data"
        method="POST"
      >
        <label class="custom-file-upload">
          <input type="file" name="video" accept=".mp4" class="fileuploader" />
        </label>
        <ul>
          <li><button class="Upload"></button></li>
        </ul>
      </form>
      <i class="bi bi-upload"></i>
      <h1>Drop to upload</h1>
      <p>(up to 500MB)</p>
      <p id="text1">mp4, quicktime, webm are supported</p>
      <div class="video-list">
        <ul style="list-style: none"></ul>
      </div>
    </div>

    <div class="file-requirements">
      <p class="thick">
        <i class="bi bi-info-circle"><i class="no-italics"> Requirements</i></i>
      </p>
    </div>

    <!---language dropdown --->
    <div class="dropdown-wrapper">
      <form method="POST" action="{% url 'dashboard_1' %}">
        <select name="select1" class="dropbtn">
          <!-- note the name -->
          <i style="float: right" , class="bi bi-chevron-down"></i>
          <option value="None">Choose a target language</option>
          <option value="English">English</option>
          <option value="Germany">Germany</option>
          <option value="Spanish">Spanish</option>
          <option value="French">French</option>
          <option value="Portuguese">Portuguese</option>
          <option value="Polish">Polish</option>
          <option value="Swedish">Swedish</option>
        </select>
      </form>

      <p id="text2">
        <i class="bi bi-exclamation-triangle" id="triangle"
          ><i class="no-italics"> Please select an option</i></i
        >
      </p>

      <!---submission button --->

      <button
        class="submit"
        ,
        onclick="document.getElementById('id01').style.display='block'"
      >
        Translate this video
      </button>
    </div>

    <!-- Video card -->
    <div class="w3-container">
      <h1>Translated</h1>

      <div class="w3-card-2">
        <img
          src="{% static 'image/english.jpg' %}"
          alt="en"
          style="width: 100%"
        />
        <p>
          Video title here<i
            class="bi bi-three-dots-vertical"
            style="float: right"
          ></i>
        </p>
      </div>

      <div class="w3-card-2" , id="box">
        <img
          src="{% static 'image/spanish.jpg' %}"
          alt="sp"
          style="width: 100%"
        />
        <p>
          Video title here<i
            class="bi bi-three-dots-vertical"
            style="float: right"
          ></i>
        </p>
      </div>
    </div>

    <!-- Modal function -->
    <div id="id01" class="modal">
      <div class="container">
        <h1>Sign in with Google</h1>
        <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
        <button id="btnsignIn">
          <img src="{% static 'image/google-icon.png' %}" /> Continue with
          Google
        </button>
        <button id="btnLog">
          <img src="{% static 'image/google-icon.png' %}" /> Log
        </button>
      </div>
    </div>
  </body>
</html>
